/*CSS PROPERTY RESET*/
p, div, body {
	margin: 0;
	padding: 0;
}

p, input, div, form {
	box-sizing: border-box;
}

/*Load Fonts*/

/*Page Styling*/

body {
	background-color: white;
}

/*Style Item Container*/

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	text-align: center;
	color: #FF6100;
	margin: 20px 0 15px 0;
}

#shopPage {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
	margin-bottom: 60px;

}

.itemContainer {
	width: 300px;
	padding: 15px;
	margin: 10px 10px;

	background-color: white;

	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.itemContainer:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

.itemContainer h4 {

	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	color: #FF6100;
	margin: 5px 0;
}

.itemContainer p {

	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	color: #494949;
	margin: 5px 0;
}

/*Cart Footer Page*/

#cartFooterContainer {
	
	background-color: #FF6100;
	position: fixed;
	bottom: 0;

	height: 50px;
	width: 100%;

	font-family: 'Open Sans', sans-serif;
	color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#cartFooter{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	max-width: 1000px;
}

#cartIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	width: 30px;
	height: 30px;
	background: url(./assets/new_cart_icon.png) no-repeat center;
}

#cartIcon span {
	margin-left: 3px;
	font-size: 1.5em;
}

#viewCartButton:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*Checkout Modal*/

#checkoutContainer {
	display: none;
	z-index: 100;
	position: fixed;
	top: 40px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;

	padding: 40px;

	width: 95%;
	max-width: 700px;
	height: 450px;
	overflow-y: scroll;

	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#checkoutContainer p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	color: #494949;
	margin: 5px 0;
}

#shoppingCartButtons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px 0;
}

#checkoutContainer input {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 5px;
	padding: 0 10px;

	height: 30px;
	margin: 5px 0;
}

#checkoutContainer input::placeholder {
	color: lightgrey;
}

#checkoutContainer button {
	background-color: white;
	color: #FF6100;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 5px;

	width: 100px;
	padding: 4px 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

#checkoutContainer button:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

#checkoutContainer h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: grey;
	margin: 10px 0 20px 0;
}

#checkoutContainer h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #FF6100;
	margin: 20px 0 20px 0;
}

#checkoutContainer h1:hover {
	opacity: 0.25;
	cursor: pointer;
}

#checkoutContainer h4:hover {
	opacity: 0.25;
	cursor: pointer;
}

/*Stils and Layout of the Checkout Process*/

#shoppingCart {
	max-height: 200px;
	overflow: scroll;
	border-style: solid;
	border-color: lightgrey;
	border-width: 0 0 0.75px 0;

}

#checkoutPage {
	display: block;
}

#cashOrCredit {
	text-align: center;
	display: none;
}

#cashTransaction {
	display: none;
}

#cardTransaction {
	display: none;
}

#receiptDisplay {
	display: none;
}

#receiptItems {
	border-style: solid;
	border-color: lightgrey;
	border-width: 0 0 0.75px 0;
}