/*CSS PROPERTY RESET*/
p, div, body {
	margin: 0;
	padding: 0;
}

p, input, div, form {
	box-sizing: border-box;
}

/*Load Fonts*/

/*Page Styling*/

body {
	background-color: white;
}

/*Style Item Container*/
#shopPage {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;


}

.itemContainer {
	width: 300px;
	padding: 15px;
	margin: 10px 10px;

	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.itemContainer:hover {
	background-color: #f4f4f4;
}

.itemContainer h4 {

	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	color: #FF6100;
	margin: 5px 0;
}

.itemContainer p {

	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	color: #494949;
	margin: 5px 0;
}

/*Cart Footer Page*/

#cartFooter{
	position: fixed;
	bottom: 0;

	height: 50px;
	width: 100%;

	background-color: #FF6100;

	font-family: 'Open Sans', sans-serif;
	color: white;
}

#viewCartButton:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*Checkout Modal*/

#checkoutContainer {
	display: none;
	z-index: 100;
	position: fixed;
	margin: 0 auto;
	top: 40px;

	padding: 20px;

	width: 96%;
	max-width: 700px;
	max-height: 500px;
	overflow-y: scroll;

	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

}

/*View Cart Screen*/

#shoppingCart {
	max-height: 200px;
	overflow: scroll;
	border-style: solid;
	border-color: lightgrey;
	border-width: 0 0 0.75px 0;

}

#checkoutPage {
	display: block;
}